body {
    background-color: rgb(36, 50, 99);
    display: grid;
    justify-content: center;
    color: rgb(255, 255, 132);
    font-family: "montserrat";
}

#main-title {
    text-align: center;
}

#user-info {
    display: grid;
}

.info {
    display: grid;
    justify-content: center;
    margin-bottom: 10px;
}

#text {
    min-width: 150px;
    max-width: 200px;
    min-height: 50px;
    max-height: 100px;
}

#contact-form {
    background-color: rgb(70, 96, 192);
    padding: 20px;
    border: 2px solid rgb(255, 255, 132);
}

#send-button {
    margin-top: 10px;
    background-color: rgb(255, 255, 132);
    border: none;
    color: rgb(36, 50, 99);
}

input {
    font-family: "montserrat";
}

#send-button:hover {
    background-color: rgb(17, 23, 46);
    color: rgb(255, 255, 132);
    transition: 0.5s;
}

#form-sent {
    padding: 20px;
    background-color: rgb(70, 96, 192);
    border: 2px solid rgb(255, 255, 132);
}

.user {
    background-color: rgb(70, 96, 192);
    border: 2px solid rgb(255, 255, 132);
}
